@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button:hover {
  filter: brightness(0.9);
}
button:active {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  max-height: 750px;
}

.heading-grid-cont .heading {
  font-family: "Oswald", sans-serif;
  color: #ccc;
  font-size: 2rem;
  text-align: center;
}
.heading-grid-cont .heading i,
.heading-grid-cont .heading .custom-wordle-icon {
  margin-left: 10px;
  color: white;
  font-size: 1.8rem;
  display: inline-block;
  filter: brightness(0.7);
}
.heading-grid-cont .heading i:hover,
.heading-grid-cont .heading .custom-wordle-icon:hover {
  filter: brightness(1);
}
.heading-grid-cont .heading i:active,
.heading-grid-cont .heading .custom-wordle-icon:active {
  transform: scale(1.2);
}
.heading-grid-cont .heading .custom-wordle-icon {
  transform: translateY(3px);
}
.heading-grid-cont .custom-wordle-msg {
  color: #888;
  text-align: center;
}
.heading-grid-cont .grid {
  font-family: "Work Sans", sans-serif;
  width: fit-content;
  margin: 0 auto 2em auto;
}
.heading-grid-cont .grid .row {
  display: flex;
  width: fit-content;
}
.heading-grid-cont .grid .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 35px;
  border: solid #555 1px;
  margin: 3px;
}

.loading {
  width: 50px;
  opacity: 0.5;
  position: absolute;
}

.keyboard {
  width: fit-content;
  max-width: 100%;
  touch-action: manipulation;
}
.keyboard .row {
  display: flex;
  justify-content: center;
}
.keyboard .row .key {
  color: white;
  background-color: gray;
  transition: background-color 0.7s;
  height: 50px;
  width: 35px;
  border: 0;
  border-radius: 5px;
  margin: 0.2em;
}
.keyboard .row .key[data-value=Backspace] {
  width: 55px;
  font-size: 1.4em;
}
.keyboard .row .key[data-value=Enter] {
  width: 55px;
}

.tile.bg-color-gray {
  background-color: #666 !important;
}

.key.bg-color-gray {
  background-color: #333 !important;
}

.bg-color-yellow {
  background-color: #b59f3b !important;
}

.bg-color-green {
  background-color: #538d4e !important;
}

.my-toast {
  position: absolute;
  z-index: 1;
  height: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  transition: opacity 0.5s;
}
.my-toast .arrow-icon {
  transform: translateX(12px);
}
.my-toast .box {
  transform: translateY(-9px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px 10px;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.my-toast .box .toast-icon {
  font-size: x-large;
  margin-right: 10px;
  color: orange;
}
.my-toast .box .text {
  color: black;
  font-size: 14px;
}

.modal-white-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-51%, -50%);
  background-color: #222;
  padding: 1.9em;
  border-radius: 0.5em;
  border: solid #444 3px;
  z-index: 2;
}
.modal h2 {
  font-family: "Work Sans", sans-serif;
}

.modal-x-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
  color: white;
  background-color: inherit;
  padding: 0.3em;
  border: 0;
  border-radius: 0.1em;
}
.modal-x-btn:hover {
  background-color: #555;
}

.custom-wordle-cont.modal-white-bg .modal {
  width: 300px;
  max-width: 100%;
}
.custom-wordle-cont.modal-white-bg .modal .label-input-btn-cont {
  width: 100%;
  margin-bottom: 1em;
}
.custom-wordle-cont.modal-white-bg .modal .label-input-btn-cont label {
  margin-right: 1em;
}
.custom-wordle-cont.modal-white-bg .modal .label-input-btn-cont form {
  display: flex;
  width: inherit;
}
.custom-wordle-cont.modal-white-bg .modal .label-input-btn-cont form input {
  width: inherit;
}

.settings-cont.modal-white-bg .settings.modal {
  width: 100%;
  height: fit-content;
  max-width: 300px;
  max-height: 100%;
}
.settings-cont.modal-white-bg .settings.modal h2 {
  text-align: center;
}
.settings-cont.modal-white-bg .settings.modal .p-select-p-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.settings-cont.modal-white-bg .settings.modal .p-select-p-cont .select-word-length {
  margin-left: 10px;
  font-size: 1em;
}
.settings-cont.modal-white-bg .settings.modal .refresh-warning {
  color: #c7c741;
}
.settings-cont.modal-white-bg .settings.modal .refresh-warning .buttons {
  display: flex;
  justify-content: space-evenly;
}
.settings-cont.modal-white-bg .settings.modal .refresh-warning .buttons button {
  width: 50px;
  padding: 0.4em 1em;
  border: 0;
  border-radius: 0.2em;
}
.settings-cont.modal-white-bg .settings.modal .refresh-warning .buttons button.yes-btn {
  background-color: #f1f14d;
}

.guide-cont.modal-white-bg h2 {
  font-size: 1.9em;
}
.guide-cont.modal-white-bg .guide.modal {
  width: 100%;
  height: fit-content;
  max-width: 500px;
  max-height: 100%;
  padding: 0;
}
.guide-cont.modal-white-bg .guide.modal .content {
  padding: 1.9em;
}
.guide-cont.modal-white-bg .guide.modal .content .text .objective {
  margin: 2em auto;
}
.guide-cont.modal-white-bg .guide.modal .content .text .objective .emphasize {
  display: block;
  font-size: 1.75em;
}
.guide-cont.modal-white-bg .guide.modal .content .text .explain-colors-cont > div {
  display: flex;
  align-items: center;
}
.guide-cont.modal-white-bg .guide.modal .content .text .explain-colors-cont > div .color-word {
  font-size: 1.2em;
  padding: 0.2em;
  border-radius: 0.2em;
  margin-right: 0.8em;
}
.guide-cont.modal-white-bg .guide.modal .content .text .explain-colors-cont > div .color-word.green {
  color: #00a000;
}
.guide-cont.modal-white-bg .guide.modal .content .text .explain-colors-cont > div .color-word.yellow {
  color: #b1b100;
}
.guide-cont.modal-white-bg .guide.modal .content .text .explain-colors-cont > div .color-word.gray {
  color: gray;
  font-size: 1.3em;
}
.guide-cont.modal-white-bg .guide.modal .content .okay-btn-cont {
  text-align: center;
  margin-top: 0.7em;
}
.guide-cont.modal-white-bg .guide.modal .content .okay-btn-cont .okay-btn {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0 auto;
  border: 0;
  border-radius: 0.2em;
  background-color: #ccc;
}
.guide-cont.modal-white-bg .guide.modal footer {
  background-color: black;
}
.guide-cont.modal-white-bg .guide.modal footer .links {
  display: flex;
}
.guide-cont.modal-white-bg .guide.modal footer .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #888;
  text-decoration: none;
  padding: 0.5em;
}
.guide-cont.modal-white-bg .guide.modal footer .links a:hover {
  background-color: #222;
  border-top: solid black 2px;
}

.hide {
  display: none;
}

.opacity0 {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
