@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: white;
  background-color: black;
  height: 100vh;

  //vertically center the .content box:
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.7);
    transform: scale(1.1);
  }
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  max-height: 750px;
}

.heading-grid-cont {
  .heading {
    font-family: "Poppins", sans-serif;
    color: #ccc;
    font-size: 2rem;
    text-align: center;
    i {
      margin-left: 10px;
      color: white;
      font-size: 1.8rem;
      display: inline-block; //allows transform: scale() to work
      &:hover {
        filter: brightness(0.8);
      }
      &:active {
        transform: scale(1.2);
      }
    }
  }
  .grid {
    width: fit-content;
    margin: 0 auto;
    .row {
      display: flex;
    }
    .tile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      font-size: 35px;
      border: solid #555 1px;
      margin: 3px;
    }
  }
}

@media (max-width: 580px) {
  .grid .row .tile {
    width: 30px;
    height: 30px;
  }
}

.loading {
  //the loading wheel that appears to the right of a row after pressing enter
  width: 50px;
  opacity: 0.5;
  position: absolute;
}

.keyboard {
  width: fit-content;
  max-width: 100%;
  touch-action: manipulation; //prevent double tap to zoom for mobile devices
  .row {
    display: flex;
    justify-content: center;
    .key {
      color: white;
      background-color: gray;
      transition: background-color 0.7s;
      height: 50px;
      width: 35px;
      border: 0;
      border-radius: 5px;
      margin: 0.2em;
      &[data-value="Backspace"] {
        width: 55px;
        font-size: 1.4em;
      }
      &[data-value="Enter"] {
        width: 55px;
      }
    }
  }
}

.tile.bg-color-gray {
  background-color: #666 !important;
}
.key.bg-color-gray {
  background-color: #333 !important;
}
.bg-color-yellow {
  background-color: #b59f3b !important;
}
.bg-color-green {
  background-color: #538d4e !important;
}

.my-toast {
  position: absolute;
  z-index: 1;
  height: 40px;

  display: flex;
  flex-direction: column;

  .arrow-icon {
    transform: translateX(12px); //move right (to position above bang-icon)
  }

  .box {
    transform: translateY(-9px); //move up (account for whitespace below arrow)

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    padding: 5px 10px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);

    .toast-icon {
      font-size: x-large;
      margin-right: 10px;
      color: orange;
    }
    .text {
      color: black;
      font-size: 14px;
    }
  }
}

%white-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
%modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  border-radius: 0.5em;
  border: solid #444 3px;
  z-index: 2; //appear on top of my toasts
}

.modal-x-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
  color: white;
  background-color: inherit;
  padding: 0.3em;
  border: 0;
  border-radius: 0.1em;
  &:hover {
    background-color: #555;
  }
}

.settings-cont {
  @extend %white-bg;
  .settings {
    @extend %modal;
    width: 100%;
    height: fit-content;
    max-width: 300px;
    max-height: 100%;
    padding: 1.9em;

    .p-select-p-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      .select-word-length {
        margin-left: 10px;
      }
    }
    .refresh-warning {
      font-family: "Noto Sans", sans-serif;
      color: rgb(199, 199, 65);
      .buttons {
        display: flex;
        justify-content: space-evenly;
        button {
          width: 50px;
          padding: 0.4em 1em;
          border: 0;
          border-radius: 0.2em;
          &.yes-btn {
            background-color: rgb(241, 241, 77);
          }
        }
      }
    }
  }
}

.guide-cont {
  @extend %white-bg;
  .guide {
    @extend %modal;
    width: 100%;
    height: fit-content;
    max-width: 500px;
    max-height: 100%;
    font-family: "Noto Sans", sans-serif;
    .content {
      padding: 1.9em;

      .text {
        .objective {
          margin: 2em auto;
          .emphasize {
            display: block;
            font-size: 1.75em;
          }
        }

        .explain-colors-cont {
          & > div {
            display: flex;
            align-items: center;

            .color-word {
              font-size: 1.2em;
              padding: 0.2em;
              border-radius: 0.2em;
              margin-right: 0.8em;
              &.green {
                color: rgb(0, 160, 0);
              }
              &.yellow {
                color: rgb(177, 177, 0);
              }
              &.gray {
                color: gray;
                font-size: 1.3em;
              }
            }
          }
        }
      }
      .okay-btn-cont {
        text-align: center;
        margin-top: 0.7em;
        .okay-btn {
          font-size: 1em;
          padding: 0.5em 1em;
          margin: 0 auto;
          border: 0;
          border-radius: 0.2em;
          background-color: #ccc;
        }
      }
    }
    footer {
      background-color: black;
      .links {
        display: flex;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          color: #888;
          text-decoration: none;
          padding: 0.5em;
          &:hover {
            background-color: #222;
            border-top: solid black 2px;
          }
        }
      }
    }
  }
}

//UTILITY

.hide {
  display: none;
}
